body {
  font-family: Roboto, Arial;
  color: black;
  margin: 0;
}

p {
  margin: 0;
}

.message-section {
  margin-top: 10px;
  background-color: #ffcfcf;
  display: flex;
  justify-content: center;
  padding: 10px 15px;
  font-size: 18px;
}
.global-button-style {
  background-color: #1d2d44;
  color: white;
  height: 100%;
  padding: 0.5rem 2rem;
  font-size: 15px;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}